/* index.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #f1f1f1;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
